html {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:darkslategray;
}

#header {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: darkgray;
    color:white;
}

#graph {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 70%;
    bottom: 50px;
    overflow: auto;
    background-color:lightslategray;
}

#userInput {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    width: 30%;
    right: 0px;
    bottom: 50px;
    overflow: auto;
    background-color: darkslategray
}

#node {
    height: 50px;
    bottom: 0px;
    left:0px;
    right:0px;
    witdh: 100%;
    position: absolute;
    background-color: darkslateblue;
    color:white;
    overflow: hidden;
    padding 0;
    margin: 0;
}



#log {
    height: 150px;
    width: 300px;
    overflow: auto;
    overflow-x: auto;
    background-color: aliceblue;
    color:black;
    text-align: center;
}

.ui-autocomplete {
    max-height: 100px;
    max-width: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.link {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle {
    fill: #ADD8E6;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
    //text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}